{% extends "blog/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
    <div class="content-section">
        <form method="POST">               <! look comment below>
            {% csrf_token %}               <! This csrf token is a security token which is required for every form to prevent attacks>
            <fieldset class= "form-group">
                <legend class="border-bottom mb-4">Log In</legend>              <! mb-margin bottom and join today is for adding a legend of today>
                {{ form|crispy}}            <! now crispy does all the styling for us, more styling can be done by looking crispy docs>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log In</button> 
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}
